.glowElements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.ecTR {
    position: absolute;
    top: -5%;
    right: -10%;
    width: 50vw;
    height: auto;
}

.gdTR {
    position: absolute;
    top: -10%;
    right: -15%;
    width: 60vw;
    height: auto;
}

.ecBL {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 50vw;
    height: auto;
}