.modflixLogo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.modLogo {
    width: 60px;
    height: 60px;
}

.modflixText {
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
    margin: 0;
}