# db
PG_HOST=localhost # use db for docker
PG_MIGRATE_HOST=   # for migration
PG_PORT=5432
PG_USER=
PG_PASSWORD=
PG_DBNAME=

# auth
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# cors
API_CORS_ORIGIN=http://localhost:3000
