# db
PG_HOST=localhost
PG_MIGRATE_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=Th1sIs4n3Xamp1eP@ssw0rd
PG_DBNAME=modflix

# auth
BETTER_AUTH_SECRET=ed7652912406d93c160a627c8d456f7c8c78247549efc94fcc7f07149bf53989    # PLEASE regenerate and replace with `openssl rand -hex 32`
BETTER_AUTH_URL=http://localhost:3000

# app url and ports
API_URL=http://localhost:3000
API_PORT=3000 # match above port

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET=your-bucket-name
